@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-satoshi: var(--font-satoshi);
  --font-cabinet: var(--font-aeonik);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

body {
  font-family: var(--font-satoshi);
}

:root {
  /* =========================================
     PRIMITIVE TOKENS
  ========================================= */

  /* COLORS */

  /* Indigo  */
  --ds-indigo-50: #EEF2FF;
  /* Indigo Mist */
  --ds-indigo-100: #E0E7FF;
  /* Pale Indigo */
  --ds-indigo-200: #C7D2FE;
  /* Soft Indigo */
  --ds-indigo-300: #A5B4FC;
  /* Muted Indigo */
  --ds-indigo-400: #9EA8FF;
  /* Signal Indigo */
  --ds-indigo-500: #818CF8;
  /* Core Indigo */
  --ds-indigo-600: #6366F1;
  /* Royal Indigo */
  --ds-indigo-700: #5F57FF;
  /* Bright Indigo */
  --ds-indigo-800: #4F46E5;
  /* Primary Indigo */
  --ds-indigo-900: #211890;
  /* Deep Indigo */
  --ds-indigo-950: #110B5B;
  /* Indigo Abyss */

  /* Lavender */
  --ds-lavender-50: #FAF5FD;
  /* Lavender Frost */
  --ds-lavender-100: #F5EAFC;
  /* Lavender Mist */
  --ds-lavender-200: #EBD3F8;
  /* Soft Lavender */
  --ds-lavender-300: #DCADF2;
  /* Pastel Lavender */
  --ds-lavender-400: #CD83EC;
  /* Muted Lavender */
  --ds-lavender-500: #BF53E5;
  /* Signal Lavender */
  --ds-lavender-600: #9D38BF;
  /* Deep Lavender */
  --ds-lavender-700: #772991;
  /* Royal Lavender */
  --ds-lavender-800: #531A66;
  /* Night Lavender */
  --ds-lavender-900: #310C3D;
  /* Lavender Ink */
  --ds-lavender-950: #1F0528;
  /* Lavender Void */


  /* Violet */
  --ds-violet-50: #F7F5FF;
  /* Violet Haze */
  --ds-violet-100: #EFECFE;
  /* Pale Violet */
  --ds-violet-200: #E2DBFE;
  /* Soft Violet */
  --ds-violet-300: #D2C8FD;
  /* Muted Violet */
  --ds-violet-400: #C4B5FD;
  /* Orchid Violet */
  --ds-violet-500: #A589FC;
  /* Electric Violet */
  --ds-violet-600: #8859FA;
  /* Bright Violet */
  --ds-violet-700: #7115F5;
  /* Royal Violet */
  --ds-violet-800: #4D0BAB;
  /* Deep Violet */
  --ds-violet-900: #2B0467;
  /* Violet Ink */
  --ds-violet-950: #1A0244;
  /* Violet Eclipse */

  /* Neutral */
  --ds-neutral-50: #FCFCFD;
  /* Frost White */
  --ds-neutral-100: #F9FAFB;
  /* Cloud Surface */
  --ds-neutral-200: #D3DBE2;
  /* Soft Smoke */
  --ds-neutral-300: #AEBDCB;
  /* Mist Gray */
  --ds-neutral-400: #8FA0AF;
  /* Muted Slate */
  --ds-neutral-500: #778592;
  /* Balanced Slate */
  --ds-neutral-600: #5E6A74;
  /* Steel Slate */
  --ds-neutral-700: #464F57;
  /* Deep Slate */
  --ds-neutral-800: #2F363B;
  /* Graphite Surface */
  --ds-neutral-900: #1A1E22;
  /* Charcoal Ink */
  --ds-neutral-950: #0E1114;
  /* Obsidian */


  /* Cyan */
  --ds-cyan-50: #E8FAFF;
  /* Cyan Tint */
  --ds-cyan-100: #CFF4FF;
  /* Soft Cyan */
  --ds-cyan-200: #9EECFE;
  /* Sky Cyan */
  --ds-cyan-300: #37E2FE;
  /* Fresh Cyan */
  --ds-cyan-400: #22D3EE;
  /* Bright Cyan */
  --ds-cyan-500: #1AADC3;
  /* Analytics Cyan */
  --ds-cyan-600: #12889A;
  /* Deep Cyan */
  --ds-cyan-700: #0B6573;
  /* Dark Cyan */
  --ds-cyan-800: #05444E;
  /* Ink Cyan */
  --ds-cyan-900: #02262C;
  /* Cyan Deep */
  --ds-cyan-950: #01161B;
  /* Cyan Abyss */


  /* Blue */
  --ds-blue-50: #EFF6FF;
  /* Blue Tint */
  --ds-blue-100: #DBEAFE;
  /* Soft Blue */
  --ds-blue-200: #BFDBFE;
  /* Light Blue */
  --ds-blue-300: #93C5FD;
  /* Sky Blue */
  --ds-blue-400: #3B82F6;
  /* Signal Blue */
  --ds-blue-500: #2563EB;
  /* Deep Blue */
  --ds-blue-600: #1D4ED8;
  /* Royal Blue */
  --ds-blue-700: #1E40AF;
  /* Dark Blue */
  --ds-blue-800: #1E3A8A;
  /* Night Blue */
  --ds-blue-900: #172554;
  /* Blue Ink */
  --ds-blue-950: #02102A;
  /* Blue Abyss */

  /* Success  */
  --ds-success-50: #DCFEED;
  /* Success Tint */
  --ds-success-100: #B2FED9;
  /* Soft Success */
  --ds-success-200: #3FF9B5;
  /* Mint Success */
  --ds-success-300: #3AE6A7;
  /* Fresh Success */
  --ds-success-400: #34D399;
  /* Success Green */
  --ds-success-500: #29AC7C;
  /* Brand Success */
  --ds-success-600: #1E8A63;
  /* Deep Success */
  --ds-success-700: #146648;
  /* Dark Success */
  --ds-success-800: #0A442F;
  /* Ink Success */
  --ds-success-900: #04271A;
  /* Success Deep */
  --ds-success-950: #02170E;
  /* Emerald Abyss */


  /* Amber */
  --ds-warning-50: #FEF1EC;
  /* Amber Tint */
  --ds-warning-100: #FEE6DD;
  /* Soft Amber */
  --ds-warning-200: #FCC9B2;
  /* Light Amber */
  --ds-warning-300: #FCB086;
  /* Warm Amber */
  --ds-warning-400: #FB923C;
  /* Signal Amber */
  --ds-warning-500: #D37722;
  /* Brand Amber */
  --ds-warning-600: #A75D19;
  /* Deep Amber */
  --ds-warning-700: #7D4410;
  /* Dark Amber */
  --ds-warning-800: #552D07;
  /* Burnt Amber */
  --ds-warning-900: #341903;
  /* Ink Amber */
  --ds-warning-950: #341903;
  /* Ember Void */


  /* Reject */
  --ds-reject-50: #FEF1F1;
  /* Reject Tint */
  --ds-reject-100: #FDDEDE;
  /* Soft Reject */
  --ds-reject-200: #FBBDBD;
  /* Light Reject */
  --ds-reject-300: #F99999;
  /* Bright Reject */
  --ds-reject-400: #F87171;
  /* Reject Red */
  --ds-reject-500: #F62525;
  /* Brand Reject */
  --ds-reject-600: #C81C1C;
  /* Deep Reject */
  --ds-reject-700: #971212;
  /* Dark Reject */
  --ds-reject-800: #690909;
  /* Ink Reject */
  --ds-reject-900: #420404;
  /* Reject Deep */
  --ds-reject-950: #2B0202;
  /* Crimson Abyss */

  /* GRADIENTS */
  --ds-gradient-primary: linear-gradient(135deg,
      var(--ds-violet-950) 0%,
      var(--ds-indigo-800) 38%,
      var(--ds-indigo-600) 68%,
      var(--ds-violet-500) 100%);
  --ds-gradient-primary-hover: linear-gradient(to right,
      var(--ds-violet-950) 0%,
      var(--ds-indigo-800) 35%,
      var(--ds-indigo-700) 65%,
      var(--ds-violet-500) 100%);

  --ds-gradient-ai: linear-gradient(135deg,
      var(--ds-violet-100) 0%,
      var(--ds-indigo-200) 35%,
      var(--ds-violet-500) 100%);

  --ds-gradient-chart: linear-gradient(135deg,
      var(--ds-violet-950) 0%,
      var(--ds-indigo-800) 35%,
      var(--ds-indigo-600) 65%,
      var(--ds-violet-600) 100%);

  --ds-gradient-analytics: linear-gradient(135deg,
      var(--ds-cyan-100) 0%,
      var(--ds-blue-100) 45%,
      var(--ds-indigo-200) 100%);


  --ds-gradient-glow: radial-gradient(circle at center,
      rgba(255, 255, 255, 0.18) 0%,
      rgba(255, 255, 255, 0) 60%);


  /* TYPOGRAPHY */
  --ds-font-heading: var(--font-aeonik);
  --ds-font-sans: var(--font-satoshi);
  --ds-font-mono: var(--font-geist-mono);



  /* FONT WEIGHTS */
  --ds-font-weight-air: 100;
  --ds-font-weight-thin: 200;
  --ds-font-weight-light: 300;
  --ds-font-weight-regular: 400;
  --ds-font-weight-variable: 450;
  --ds-font-weight-medium: 500;
  --ds-font-weight-semibold: 600;
  --ds-font-weight-bold: 700;
  --ds-font-weight-extrabold: 800;
  --ds-font-weight-black: 900;


  /* SPACING */
  --ds-space-xxxs: 1px;
  --ds-space-xxs: 2px;
  --ds-space-xs: 4px;
  --ds-space-sm: 8px;
  --ds-space-md: 12px;
  --ds-space-lg: 16px;
  --ds-space-xl: 20px;
  --ds-space-2xl: 24px;
  --ds-space-3xl: 32px;
  --ds-space-4xl: 36px;
  --ds-space-5xl: 40px;
  --ds-space-6xl: 48px;
  --ds-space-7xl: 64px;
  --ds-space-8xl: 80px;
  --ds-space-9xl: 96px;
  --ds-space-10xl: 120px;
  --ds-space-11xl: 240px;


  /* RADIUS */
  --ds-radius-none: 0px;
  --ds-radius-md: 8px;
  --ds-radius-xl: 12px;
  --ds-radius-2xl: 16px;
  --ds-radius-3xl: 20px;
  --ds-radius-4xl: 28px;
  --ds-radius-5xl: 32px;
  --ds-radius-full: 9999px;



  /* ELEVATION */
  --ds-shadow-none:
    none;

  /* Inputs, badges, pills */
  --ds-shadow-sm:
    0 1px 2px rgba(14, 17, 20, .05);

  /* Cards */
  --ds-shadow-md:
    0 8px 24px rgba(14, 17, 20, .08);

  /* Dropdowns, popovers */
  --ds-shadow-lg:
    0 16px 40px rgba(14, 17, 20, .12);

  /* Modals, drawers */
  --ds-shadow-xl:
    0 24px 64px rgba(14, 17, 20, .16);

  /* Sticky header */
  --ds-shadow-header:
    0 10px 35px rgba(14, 17, 20, .08);

  /* Focus ring */
  --ds-shadow-focus:
    0 0 0 3px rgba(79, 70, 229, .12);

  /* Primary CTA */
  --ds-shadow-primary:
    0 10px 30px rgba(79, 70, 229, .18);

  /* Primary CTA Hover */
  --ds-shadow-primary-hover:
    0 14px 45px rgba(79, 70, 229, .38);

  /* MOTION */
  --ds-duration-fast: 150ms;
  --ds-duration-normal: 300ms;
  --ds-duration-slow: 500ms;
  --ds-ease-standard: ease;
  --ds-ease-emphasized: cubic-bezier(0.16, 1, 0.3, 1);

  /* Z-INDEX */
  --ds-z-dropdown: 1000;
  --ds-z-sticky: 1100;
  --ds-z-modal: 1200;
  --ds-z-toast: 1300;
  --ds-z-tooltip: 1400;

  /* =========================================
     SEMANTIC TOKENS
  ========================================= */

  /* BACKGROUNDS */
  --ds-bg: var(--ds-neutral-50);
  --ds-surface: var(--ds-neutral-100);
  --ds-surface-soft: var(--ds-neutral-200);
  --ds-surface-elevated: var(--ds-indigo-50);
  --ds-surface-hover: var(--ds-violet-50);
  --ds-surface-overlay: rgba(14, 17, 20, 0.6);
  /* #0e1114 */
  ;


  /* TEXT */
  --ds-text: var(--ds-neutral-900);
  --ds-text-muted: var(--ds-neutral-600);
  --ds-text-soft: var(--ds-neutral-500);
  --ds-text-inverse: var(--ds-neutral-50);
  --ds-text-disabled: var(--ds-neutral-300);


  /* BORDERS */
  --ds-border: var(--ds-neutral-200);
  --ds-border-soft: var(--ds-neutral-200);
  --ds-border-strong: var(--ds-neutral-300);
  --ds-border-focus: var(--ds-indigo-700);
  --ds-border-hover: var(--ds-indigo-600);

  /* PRIMARY */

  --ds-primary: var(--ds-indigo-800);
  --ds-primary-hover: var(--ds-indigo-700);
  --ds-primary-active: var(--ds-indigo-900);
  --ds-primary-soft: var(--ds-indigo-50);
  --ds-primary-foreground: var(--ds-neutral-50);

  /* SECONDARY */
  --ds-secondary: var(--ds-neutral-200);

  /* ACCENT */
  --ds-accent: var(--ds-violet-100);
  --ds-accent-hover: var(--ds-violet-200);
  --ds-accent-strong: var(--ds-violet-600);
  --ds-accent-foreground: var(--ds-violet-950);


  /* AI */
  --ds-ai: var(--ds-violet-600);
  --ds-ai-hover: var(--ds-violet-700);
  --ds-ai-soft: var(--ds-lavender-100);


  /*********************************
 * SUCCESS
 *********************************/

  --ds-success: var(--ds-success-400);
  --ds-success-active: var(--ds-success-500);
  --ds-success-soft: var(--ds-success-50);


  /*********************************
 * WARNING
 *********************************/

  --ds-warning: var(--ds-warning-400);
  --ds-warning-active: var(--ds-warning-500);
  --ds-warning-soft: var(--ds-warning-50);


  /*********************************
 * REJECT / ERROR
 *********************************/

  --ds-reject: var(--ds-reject-400);
  --ds-reject-active: var(--ds-reject-500);
  --ds-reject-soft: var(--ds-reject-50);


  /*********************************
 * INFO / ANALYTICS
 *********************************/

  --ds-info: var(--ds-blue-400);
  --ds-info-active: var(--ds-blue-500);
  --ds-info-soft: var(--ds-blue-50);


  /* RING TOKENS */
  --ds-ring: var(--ds-indigo-800);
  --ds-ring-offset: 2px;
  --ds-ring-focus: 0 0 0 3px rgba(79, 70, 229, 0.12);

  /* =========================================
   COMPONENT TOKENS
========================================= */

  --ds-button-primary-text: var(--ds-text-inverse);
  --ds-button-primary-shadow: var(--ds-shadow-primary);
  --ds-button-primary-shadow-hover: var(--ds-shadow-primary-hover);
  --ds-button-primary-overlay: var(--ds-gradient-glow);
  --ds-button-height: 2.5rem;
  --ds-button-padding-x: 1.25rem;
  --ds-button-radius: var(--ds-radius-full);
  --ds-button-primary-hover-gradient: var(--ds-gradient-primary-hover);


  /* SHADCN SEMANTIC MAP */
  --background: var(--ds-bg);
  --foreground: var(--ds-text);

  --card: var(--ds-surface);
  --card-foreground: var(--ds-text);

  --popover: var(--ds-surface-elevated);
  --popover-foreground: var(--ds-text);

  --primary: var(--ds-primary);
  --primary-foreground: var(--ds-primary-foreground);

  --secondary: var(--ds-secondary);
  --secondary-foreground: var(--ds-text);

  --muted: var(--ds-surface-soft);
  --muted-foreground: var(--ds-text-muted);

  --accent: var(--ds-accent);
  --accent-foreground: var(--ds-accent-foreground);

  --destructive: var(--ds-reject);
  --destructive-foreground: var(--ds-neutral-50);

  --border: var(--ds-border);
  --input: var(--ds-border);

  --ring: var(--ds-ring);
  --radius: var(--ds-radius-md);

  --sidebar: var(--ds-surface);
  --sidebar-foreground: var(--ds-text);

  --sidebar-primary: var(--ds-primary);
  --sidebar-primary-foreground: var(--ds-primary-foreground);

  --sidebar-accent: var(--ds-accent);
  --sidebar-accent-foreground: var(--ds-accent-foreground);

  --sidebar-border: var(--ds-border);
  --sidebar-ring: var(--ds-ring);

  --chart-1: var(--ds-indigo-800);
  --chart-2: var(--ds-cyan-400);
  --chart-3: var(--ds-success-400);
  --chart-4: var(--ds-warning-400);
  --chart-5: var(--ds-reject-400);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    @apply font-sans;
  }
}